@import 'fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #05bcdb;
    --primary-foreground: 210 40% 98%;

    --secondary: #010829;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --heart-size: 9em;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

/* .burger-menu_animate {
  @apply relative h-14 w-[80%] bg-[linear-gradient(75deg,var(--secondary)_10%,var(--primary)_80%)] transition-all duration-300 ease-in-out;
}
/* .burger-menu_animate::after {
  content: '';
  @apply absolute left-0 top-0 h-full w-full bg-[linear-gradient(75deg,var(--secondary)_0%,var(--primary)_80%)] opacity-0 transition-opacity duration-300 ease-in-out;
} */
/* .burger-menu_animate::before {
  content: '';
  @apply absolute left-[0] top-[0]
  block
  h-full
  w-full
  bg-[linear-gradient(75deg,var(--secondary)_0%,var(--primary)_80%)]
  opacity-0
  [border-radius:inherit]
  [transition:opacity_.3s];
}
.burger-menu_animate:hover::before {
  @apply opacity-100;
}
.burger-menu_animate:hover {
  @apply translate-x-4 scale-110;
}  */
.burger-menu_animate {
  @apply relative h-14 w-[80%] bg-[linear-gradient(75deg,var(--secondary)_10%,var(--primary)_80%)] transition-all duration-300 ease-in-out;
  z-index: 0;
}

/* Стиль псевдоэлемента */
.burger-menu_animate::after {
  content: '';
  @apply absolute left-0 top-0 h-full w-full bg-[linear-gradient(75deg,var(--secondary)_0%,var(--primary)_70%)] opacity-0 transition-opacity duration-300 ease-in-out [border-radius:inherit];
  z-index: -1;
}

.burger-menu_animate:hover::after {
  @apply opacity-100;
}

.burger-menu_animate:hover {
  @apply translate-x-4 scale-110;
}

.form-border-gradient {
  //border: 3px solid #0000;
  @apply border-[3px] border-[#0000];
  background:
    linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(75deg, var(--secondary), var(--primary)) border-box;
}
.custom-button_animate {
  background-color: transparent;
  border: 2px solid #0000;
  color: white;
  border-radius: 0.6em;
  background: linear-gradient(75deg, var(--secondary), var(--primary))
    border-box;
  box-shadow:
    0 0 0 0 var(--primary) inset,
    0 0 0 0 var(--primary);
  transition: all 100ms ease-in-out;
}
.custom-button_animate:hover {
  color: var(--primary);
  background: #0000;
  box-shadow:
    0 0 0 0 var(--primary) inset,
    0 0 10px 4px var(--primary);
}
.custom-button_animate:active {
  box-shadow:
    0 0 10px 4px var(--primary) inset,
    0 0 10px 4px var(--primary);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    font-family: 'Montserrat Alternates';
    font-weight: 400;
  }
}

.heart {
  position: relative;
  width: var(--heart-size);
  height: var(--heart-size);
}
.heart svg {
  filter: drop-shadow(0 2px 2px var(--primary)) drop-shadow(0px -1px 2px var(--primary));
  cursor: pointer;
}
.heart__checkbox {
  appearance: none;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  transform: scale(1);
}
.heart__checkbox:focus {
  outline: none;
}
.heart__checkbox:hover ~ .heart__icon {
  transform: scale(1.1);
}
.heart__checkbox:checked ~ .heart__icon {
  animation: heartAnimation forwards 1s;
  filter: none;
}
.heart__icon {
  fill: white;
  width: var(--heart-size);
  height: var(--heart-size);
  transform: scale(1);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 200ms ease-out;
}
.heart__icon::before, .heart__icon::after {
  content: "";
  display: block;
  background: inherit;
  width: var(--heart-size);
  height: var(--heart-size);
  position: absolute;
}
.heart__icon::before {
  top: 0;
  left: -50%;
}
.heart__icon::after {
  left: 0;
  top: -50%;
}

@keyframes heartAnimation {
  0% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(0.7);
    filter: drop-shadow(0 0px 0px var(--primary)) drop-shadow(0px 0px 0px var(--primary));
  }
  45% {
    transform: scale(1.4);
    fill: url(#grad1);
    filter: none;
  }
  70% {
    transform: scale(1);
    fill: url(#grad1);
  }
  100% {
    transform: scale(1.1);
    fill: url(#grad1);
    filter: none;
  }
}
